* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    transition: .1s;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    line-height: 70px;
    letter-spacing: 4px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
    /* font-size: 25px; */
}


.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
    color: black;
    /* color: #2f3636; */
    letter-spacing: 1px;
}

.white {
    color: white;
}
/* BODY */
body {
    
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    /* padding: 290px 60px 30px; */

    position: fixed;
    padding: 30px 0;
    /* padding: 30px 10%; */
    background-color: white;
}

.logo {
    color: #202020;
}

.logo:hover {
    color: #8EC286;
}

.nav {
    display: flex;
}

.nav li{
    list-style: none;
    margin-left: 30px;
    color: #485050;
}

.nav li:hover {
    color: #8EC286;
}

.nav li h4 {
    font-weight: 400;
}

.bold.button {
    color: white;
    background-color: #333333;
    padding: 11px 60px;
}

.bold.button:hover {
    color: #333333;
    background-color: #8EC286;
}

/* FIRST_ONE */
.first_one {
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    /* height: 90vh; */

    margin: 0 auto;
    max-width: 1320px;
    padding: 280px 60px 120px;
}

.first_one img {
    width: 230px;
    border-radius: 150px;
    margin-right: 30px;
}

@media only screen and (max-width: 1320px) {
    .first_one img {
        /* width: 200px; */
        /* border-radius: 60px; */
    }

    h1 {
        font-size: 80px;
        line-height: 75px;
    }
}

@media only screen and (max-width: 1054px) {
    .first_one img {
        width: 200px;
        /* border-radius: 50px; */
    }

    h1 {
        font-size: 40px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 750px) {
    .first_one  {
        padding-top: 250px;
        display: block;
    }

    h1 {
        font-size: 40px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 550px) {
    .first_one  {
        padding: 120px 5% 120px;
    }
}


/* SECOND ONE */
.second_one {
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 60px;
}

.block {
    /* background-color: #DEFFD9; */
    padding: 60px 0;
    /* border-radius: 60px; */
}

.second_one h3 {
    margin-bottom: 15px;
}

.line {
    background-color: #D9D9D9;
    max-width: 1200px;
    /* padding: 0 60px; */
    margin: 0 auto;
}

.block .center {
    margin-top: 40px;
}

.block h2, .block h3 {
    /* margin-bottom: 5px; */
}

@media only screen and (max-width: 1320px) {
    .line {
        margin: 0 60px;
    }
}


@media only screen and (max-width: 950px) {
    .block  {
        /* padding: 60px; */
    }

    .block  {
        /* border-radius: 40px; */
    }
}

@media only screen and (max-width: 550px) {
    .second_one {
        margin: 0 auto;
        padding: 0;
    }    
    
    .block  {
        padding: 60px 5%;
        border-radius: 30px;
    }

    .line {
        margin: 0 5%;
    }
}



/* THIRD ONE */


.third_one {
    /* padding: 0  90px; */
}

.gallery {
    display: flex;
    justify-content: space-between;
    padding: 120px 60px 60px;
    margin: 0 auto;
    max-width: 1320px;
}

.third_one a{
    text-decoration: underline;
    color: #333333;
}

.third_one .right {
    padding-top: 15px;
}

.third_one a:hover {
    text-decoration: none;
    color: #8EC286;
}

#h4_text {
    margin: 15px 0;
}

.third_one img {
    width: 200px;
    height: 100%;
    margin-right: 60px;
}

.third_one .right {
    padding-top: 60px;
}

@media only screen and (max-width: 950px) {
    .gallery {
        display: block;
    }

    .gallery img {
        width: 200px;
    }

    #h4_text {
        margin: 15px 0 15px 0;
    }
}

@media only screen and (max-width: 550px) {
    .gallery {
        padding: 60px 5% 0;
    }
}

/* .third_one img::before {
    content: attr(data-next-text);
    position: absolute;
    transform: translate(0%, 380px);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  } */

/* .third_one img::after {
    content: attr();
    position: absolute;
    transform: translate(0%, -380px);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  } */



/* FORTh ONE */
.forth_one {
    width: 100%;
    background-color: #202020;
    margin-top: 60px;
}

.contacts {
    margin: 0 auto;
    max-width: 1320px;
    /* padding: 90px 60px 120px; */
    padding: 60px;
}

.list_of_contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.list {
    display: flex;
    align-items: center;
}

.email {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.email h3 {
    color: #EBEBEB;
}

.email img {
    width: 60px;
    margin-right: 15px;
}

.icon {
    display: flex;
    align-items: center;
}

.icon.center {
    margin: 0 30px;
}

.icons {
    display: flex;
}

.icon i{
    font-size: 45px;
    margin-right: 15px;
    /* font-size: 67px; */
    color: #EBEBEB;
}

.icon i:hover {
    color: #8EC286;
}

.icon_center {
    margin: 0 9px;
}

.forth_one h2 {
    color: white;
}

a.white {
    color: #ADADAD;
    text-decoration: underline;
}

a.white:hover {
    color: #8EC286;
    text-decoration: none;
}

@media only screen and (max-width: 1050px) {
    .list_of_contacts {
        display: block;
    }

    .list {
        margin-bottom: 15px;
    }
    
}


@media only screen and (max-width: 900px) {
    .list {
        display: block;
    }

    .icons {
        margin-top: 15px;
    }
}


@media only screen and (max-width: 700px) {
    .list_of_contacts {
        display: block;
        margin-top: 30px;
    }

    .list {
        display: block;
    }

    .contacts {
        width: fit-content;
        /* justify-content: start; */
        margin: 0;
    }
}

@media only screen and (max-width: 610px) {
    h3.nuna {
        display: none;
    }

    a.icon.center {
        margin: 0;
    }
}

@media only screen and (max-width: 550px) {
    .contacts {
        padding: 5%;
    }
}